body {
  background-image: linear-gradient(to right, #e6e9ed, #ced1d6);
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: gray;
}

.contentContainer {
    width: 100%;
    max-width: 1080px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.float-left {
  max-width: 40%;
}

.float-right {
  max-width: 40%;
}
