* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to right, #e6e9ed, #ced1d6);
  margin-bottom: 40px;
}

html{
  min-height: 100%;
  position: relative;
}


.contentContainer {
  max-width: 1080px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-top: 100px;
}

.float-left {
  max-width: 40%;
}

.float-right {
  max-width: 40%;
}

footer {
  text-align: center;
  background-color: gray;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
}
